* {
    box-sizing: border-box;
    /* outline: 2px solid rgba(255, 0, 0, 0.471); */
}

html, body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(240,240,240);
}

.everything {
    width: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.title {
    text-align: center;
    align-content: center;
    height: 100px;
    padding-bottom: 10px;
}

.title h1 {
    margin: 0;
    font-size: 24px;
}

.title p {
    margin: 0;
    font-size: 16px;
}

.strip {
    will-change: transform; /* Prevents "hiccup" when sliding the image strip */
    display: flex;   
    transition: .5s; 
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 800px;
    background: white;
    box-shadow: 4px 4px 3px 3px rgba(0,0,0,.2);
    margin: 0 10px;
}

.picture-box {
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px 30px 0 30px;
}

.picture-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.caption {
    width: 800px;
    height: 80px;
    /* padding: 15px 15px 0px 15px; */
    padding: 15px 40px 0px 40px; 
    font-size: 14px;
    text-align: center;
    background: white;
}

.interactive-container {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5px;
    height: 60px;
    padding-bottom: 5px;
    position: relative;
}

.slide-indicator {
    padding: 0 5px;
    border: 1px solid rgb(64, 63, 63);
    background: rgb(64, 63, 63, 0.871);
    color: white;
    font-size: 12px;
    line-height: 30px;
    text-align: center; 
    position: absolute;
    bottom: 40px;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.slide-indicator.invis {
    opacity: 0;
}

.button-viewport {
    display: flex;
    align-items: center;
    border: 1px solid rgb(64, 63, 63);
    border-radius: 20px;
    height: 30px;
    background: rgb(64, 63, 63, 0.871);
    width: 176px;         /* 30+140+5 --> Gap is 6x5 and seven circles is 20x7 + 6  for border-radius*/
    overflow: hidden;
}

.label-strip {
    display: flex;
    transition: 1s;
    gap: 5px;
    margin-left: 2px;
}

input {
    display: none;
}

label {
    /* border: 2px solid #1b99ce; */
    background: rgba(179, 177, 177, 0.703);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

label:hover {
    background: white;
    scale: 1.0 !important;
}

label[for="radio6"] {
    scale: 0.5;
}

.moving-label {
    background: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    position: absolute;
    z-index: 1;
}

.left-arrow, .right-arrow {
    margin: 0 30px; 
    transition: .5s;
    background: rgb(64, 63, 63, 0.871);
    color: rgba(179, 177, 177, 0.703);
    border: 1px solid rgba(64, 63, 63);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    padding: 0;
    line-height: 36px;
}    

.left-arrow i, .right-arrow i{
    font-size: 20px;
}

@media (hover:hover) {
    .left-arrow:hover, .right-arrow:hover {
        scale: 1.2;
        cursor: pointer;
        color: white;
    }
} 

@media not all and (hover: hover) {
    .left-arrow:active, .right-arrow:active {
        scale: 1.2;
        cursor: pointer;
        color: white;
    }
} 
